{% extends 'CocoricoCoreBundle:Dashboard:layout.html.twig' %}

{% trans_default_domain 'cocorico_message' %}

{% block nav_dashboard -%}
    {% set nav_dashboard_current = 'messages' %}
    {{ parent() }}
{%- endblock %}

{% block main_dashboard -%}
    {% set listing = thread.listing %}
    {% set subjectUser = thread.user %}
    {% set users = thread.getOtherParticipants(app.user) %}
    {% if users|length > 0 %}
        {% set user = users[0] %}
    {% else %}
        {% set user = app.user %}
    {% endif %}
    {% set image_user = user.images|length ? user.images[0].name : UserImageConstants.IMAGE_DEFAULT %}
    {% if listing %}
        {% set listing_image = listing.images|length ? listing.images[0].name : ListingImageConstants.IMAGE_DEFAULT %}
        {% set translation = listing.translations[app.request.locale] %}
    {% endif %}

    <div class="tab-content no-border" style="padding-top: 0px !important;">
        <!-- reservations -->
        <div role="tabpanel" class="tab-pane active" id="messaging">
            <!-- form-ad-detail -->
            <form action="{{ url('cocorico_dashboard_message_thread_view', {'threadId': thread.id}) }}"
                  class="form-ad-detail"
                  method="post">
                <fieldset>
                    <legend class="hidden">form-ad-detail</legend>
                    {% if listing is not null %}
                        <div class="listing-detail">
                            <div class="area">
                                <div class="img-holder">
                                    <img src="{{ (ListingImageConstants.IMAGE_FOLDER ~ listing_image) | imagine_filter('listing_small') }}"
                                         alt="{{ translation.title }}">
                                </div>
                                <div class="box">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <strong class="listing-title">{{ translation.title }}</strong>
                                            <i class="glyphicon glyphicon-calendar"></i>
                                            <span style="font-size: 1.1em;">{{ thread.fromDate|date("d/m/Y") }} - {{ thread.toDate|date("d/m/Y") }}</span>
                                        </div>

                                        <div class="author-detail col-lg-6">
                                            <div class="author-img">
                                                <img src="{{ (UserImageConstants.IMAGE_FOLDER ~ image_user) | imagine_filter('user_xsmall') }}"
                                                     alt="image description">
                                            </div>
                                            <div class="box">
                                                <strong class="author-name">
                                                    <a href="{{ path('cocorico_user_profile_show', { 'id': user.id }) }}">
                                                        {{ user.getName }}
                                                    </a>
                                                </strong>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            {% if listing.user != app.user %}
                                <div class="btn-block text-center">
                                    <a href="{{ path('cocorico_listing_show', { 'slug': translation.slug }) }}"
                                       class="btn btn-primary">
                                        {{ 'thread.book'|trans }}
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    {% elseif user is not null %}
                        <div class="listing-detail">
                            <div>
                                <div class="box">
                                    <div class="row d-flex" style="align-items: center">
                                        <strong class="col-lg-6">
                                            <h4>
                                                <a class="link-basic" href="{{ path('cocorico_user_profile_show', { 'id': user.id }) }}">
                                                    {{ user.getName }}
                                                </a>
                                            </h4>
                                        </strong>
                                        <div class="col-lg-6">
                                            {{ user.memberOrganization.name }} ({{ user.memberOrganization.countryName }})
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <p>{{ 'new_message.label:'|trans }}</p>
                    <div class="textarea-holder no-scroll">
                        {{ form_errors(form) }}
                        {#{{ form_errors(form.body) }}#}
                        {{ form_widget(form.body) }}
                        {{ form_widget(form._token) }}
                    </div>

                    <div class="btn-block text-center">
                        <input type="submit" class="btn btn-default" value="{{ 'thread.send'|trans }}">
                    </div>
                </fieldset>
            </form>
            <!-- blog -->
            <div class="blog">
                <div class="posts-holder">
                    {% include 'CocoricoMessageBundle:Dashboard/Message:conversation_list.html.twig' with{
                    'thread': thread
                    } only %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
