{% extends '::base.html.twig' %}

{% block layout %}
    {% block header %}
        {% trans_default_domain 'cocorico' %}

        <!-- header of the page -->
        <header id="header">
            <div class="container">
                <div class="row d-flex" style="align-items: center;">
                    <div class="col-xs-8">
                        <!-- main navigation of the page -->
                        <nav class="navbar navbar-default">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <!-- page logo -->
                                <a class="navbar-brand mt-5" href="{{ path('cocorico_home') }}" tabindex="3">
                                    <img src="{{ asset('images/logo.png') }}" alt="{{ 'nav.home.link'|trans }}" height="70">
                                </a>
                            </div>
                        </nav>
                    </div>
                    <div class="col-xs-4 nav">
                        {% if user %}

                            <div class="pull-right">
                                <a class="text-muted" style="text-decoration: none;"
                                   href="{{ path('cocorico_user_dashboard_profile_edit_about_me') }}"
                                   title="User">
                                    {{ 'nav.dashboard.profile.link'|trans }}
                                </a>
                                |
                                <span>{{ user.fullName }}</span>
                                <a href="{{ path('cocorico_user_logout') }}">
                                    <i class="glyphicon glyphicon-log-out"></i>
                                </a>
{#                                <ul class="dropdown-menu">#}
{#                                    <li>#}
{#                                        <a class="dropdown-item" href="{{ path('cocorico_user_dashboard_profile_edit_about_me') }}">#}
{#                                            {{ 'nav.dashboard.profile.link'|trans }}#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <a href="{{ path('cocorico_user_logout') }}">#}
{#                                            {{ 'nav.logout.link'|trans }}#}
{#                                        </a>#}
{#                                    </li>#}
{#                                </ul>#}

                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>
    {% endblock %}

    {% block sub_header %}{% endblock %}

    <!-- contain main informative part of the site -->
    <main id="main" role="main">
        <div class="container">
            <div class="row {% if _row_class is defined %}{{ _row_class }}{% endif %}">
                {% block breadcrumbs %}{% endblock %}
                <div class="col-md-8 col-md-offset-2 mt-4">
                    {% block main %}{% endblock %}
                </div>
            </div>
        </div>
        {#popin#}
        {% block modal %}{% endblock %}
    </main>

    {% block footer %}
        {% include '@CocoricoCore/Frontend/Common/_footer.html.twig' only %}
    {% endblock %}
{% endblock %}
