{% extends '::base.html.twig' %}

{%- block meta_title -%}
    {{ cocorico_site_name }}
{%- endblock -%}

{%- block meta_description -%}
    {{ 'home.meta_desc'|trans({}, 'cocorico_meta') }}
{%- endblock -%}

{% block layout %}
    {% embed '@CocoricoCore/Frontend/layout.html.twig' %}
        {% block main %}
            <div id="map-tooltip" style="position: absolute; display: none;"></div>
            <h4>{{ 'map.text'|trans({}, 'cocorico') }}</h4>
                <div class="col-md-8 map-div-transition mb-5" style="height:685px; max-height: 80vw; position:relative;">

                    <div class="map-legend">
                        <div class="map-legend-title">
                            <span>{{ 'map.active_posts'|trans({}, 'cocorico') }}</span>
                        </div>
                        <div>
                            <div class="map-legend-container">
                                <div class="map-legend-color-bar"></div>
                                <div class="map-legend-numbers">
                                    <span class="max"></span>
                                    <span class="middle"></span>
                                    <span class="min">0</span>
                                </div>
                            </div>
                            <div class="map-legend-container mt-2">
                                <div class="map-legend-empty-square"></div>
                                <span class="map-legend-notregistered">{{ 'map.mo_not_registered'|trans({}, 'cocorico') }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="map-copyright tiny text-muted">
                        {{ 'map.copyright'|trans({}, 'cocorico')|raw }}
                    </div>

                    {% include '@CocoricoPage/Frontend/Page/_map_svg.html.twig' %}
                </div>
                <div class='col-md-4' style="padding-bottom: 30px;">
                    <div id="country-info-container" style="display: none;">
                        <h2 id="country-name"></h2>
                        <div id='country-text'></div>
                        <a href="#" id="country-more-link"
                           class="" data-toggle="modal"
                           data-target="#modal" style="font-weight: bold; width: 100%; margin-bottom: 15px;">
                            {{ 'map.member_organizations.show'|trans }}
                        </a>
                    </div>
                </div>
            <!-- </div> -->
        {% endblock %}
        {% block modal %}
            {% include 'CocoricoCoreBundle:Frontend/Common:_modal.html.twig' only %}
        {% endblock %}
    {% endembed %}
{% endblock layout %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/vendor/svg-pan-zoom.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            let ajaxRequest = null;
            let counts = JSON.parse('{{ listingCount|raw }}');

            let $allStates = $(".europe-map g[id], .europe-map path[id]");
            const maxCountryCount = counts['MAX'];

            // fill in the legend numbers dynamically
            const $legendNumbers = $('.map-legend-numbers');
            $legendNumbers.find('.max').html(maxCountryCount);
            $legendNumbers.find('.middle').html(Math.round(maxCountryCount/2));

            // color the states depending on posts count
            $allStates.each(function (index, element) {
                let countryCount = counts[$(element).attr('id').toUpperCase()];
                if (countryCount === undefined) {
                    $(element).not('.ignore').css('fill', 'white')
                } else {
                    let percentage = countryCount / (maxCountryCount / 100);
                    let cssValue = 'brightness(' + (0.9 - (Math.round(percentage)/200)) + ')'
                    $(element).css('filter', cssValue);
                }
            });

            // handle country tooltip
            $allStates.on("mousemove", function(event) {
                let tooltip = $("#map-tooltip");
                let posX = event.pageX + 10 + 'px';
                let posY = event.pageY + 10 + 'px';
                // tooltip.html($(this).attr("name"));
                tooltip.html($(this).find('title-a').html());
                tooltip.css({"display": "block", "left": posX, "top": posY});
            });
            $allStates.on("mouseout", function(event) {
                $("#map-tooltip").css("display", "none");
            });

            $allStates.on("click", function(event) {
                if (ajaxRequest) {
                    ajaxRequest.abort();
                }
                // $allStates.get().classList.remove("map-state-focus")
                $allStates.each(function (index, element) {
                    element.classList.remove("map-state-focus")
                })
                this.classList.add("map-state-focus");
                let path = "{{ path('cocorico_page_find', { 'slug': 'slug_placeholder' }) }}";
                let isoCode = $(this).attr("id");
                if (isoCode && isoCode.length === 2) {
                    isoCode = isoCode.toUpperCase();
                    ajaxRequest = $.ajax({
                        url: path.replace("slug_placeholder", isoCode),
                    }).done(function(data) {
                        let moPath = "{{ path('cocorico_member_organizations_find', {'slug': 'slug_placeholder' }) }}";
                        let emptyCountryPlaceholder = "{{ 'map.country_info_empty.text'|trans }}"
                        let $container = $('#country-info-container');
                        let $text = $("#country-text");
                        let $title = $("#country-name");
                        let $countryMore = $('#country-more-link');

                        if (data.found === true) {
                            $text.html(data.countryText);
                        } else {
                            $text.html("<p class='text-muted'><em>" + emptyCountryPlaceholder + "</em></p>");
                        }

                        if (data.memberOrganizationFound === true) {
                            $countryMore.attr('href', moPath.replace("slug_placeholder", data.countryCode))
                        }

                        if  (data.found === true || data.memberOrganizationFound === true) {
                            $title.html(data.countryName);
                            $container.show(500);
                        } else {
                            $container.hide(500);
                        }
                    });
                }
            });


            // handle zooming and paning of the map
            // let panZoomMap = svgPanZoom('.europe-map', {
            //     dblClickZoomEnabled: false,
            //     maxZoom: 4,
            //     minZoom: 1,
            // });
            //
            // $('.zoom-plus').click(function (event) {
            //     event.preventDefault();
            //     panZoomMap.zoomIn();
            // })
            //
            // $('.zoom-minus').click(function (event) {
            //     event.preventDefault();
            //     panZoomMap.zoomOut();
            // })

            $(window).resize(function(){
                panZoomMap.resize();
                panZoomMap.fit();
                panZoomMap.center();
            })


        });

    </script>
{% endblock %}
