{% extends "CocoricoSonataAdminBundle::standard_layout.html.twig" %}

{% trans_default_domain 'AdminStatistics' %}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block title %}
    {{ 'page.title'|trans }}
{% endblock %}

{% block content %}
    <div class="panel panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel border bg-gray" style="padding: 10px;">
                    {{ form_start(form) }}
                    <div class="row" style="display: flex; align-items: center;">
                        <div class="col-md-5 col-sm-4">
                            <div class="datepicker-holder">
                                <strong>{{ 'filter.from.label'|trans }}:</strong>
                                {{ form_widget(form.from) }}
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-4">
                            <div class="datepicker-holder">
                                <strong>{{ 'filter.to.label'|trans }}:</strong>
                                {{ form_widget(form.to) }}
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 text-right">
                            <button class="btn btn-success" type="submit">
                                <i class="glyphicon glyphicon-filter" aria-hidden="true"></i>
                                {{ 'filter.btn'|trans }}
                            </button>
                        </div>
                        <div class="hidden">
                            {{ form_rest(form) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel border">
                    <div class="panel-body">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td class="statistics-label">
                                    {{ 'facilitator_count'|trans }}
                                </td>
                                <td class="statistics-number">
                                    {{ facilitatorCount }}
                                </td>
                            </tr>
                            <tr>
                                <td class="statistics-label">
                                    {{ 'activator_count'|trans }}
                                </td>
                                <td class="statistics-number">
                                    {{ activatorCount }}
                                </td>
                            </tr>
                            <tr>
                                <td class="statistics-label">
                                    {{ 'admin_count'|trans }}
                                </td>
                                <td class="statistics-number">
                                    {{ adminCount }}
                                </td>
                            </tr>
                            <tr>
                                <td class="statistics-label">
                                    {{ 'super_admin_count'|trans }}
                                </td>
                                <td class="statistics-number">
                                    {{ superAdminCount }}
                                </td>
                            </tr>
                            <tr>
                                <td class="statistics-label">
                                    {{ 'country_count'|trans }}
                                </td>
                                <td class="statistics-number">
                                    {{ countryCount }}
                                </td>
                            </tr>
                            <tr>
                                <td class="statistics-label">
                                    {{ 'member_organization_count'|trans }}
                                </td>
                                <td class="statistics-number">
                                    {{ memberOrganizationCount }}
                                </td>
                            </tr>
                            <tr>
                                <td class="statistics-label">
                                    {{ 'user_count'|trans }}
                                </td>
                                <td class="statistics-number">
                                    {{ userCount }}
                                </td>
                            </tr>
                            <tr>
                                <td class="statistics-label">
                                    {{ 'activated_user_count'|trans }}
                                </td>
                                <td class="statistics-number">
                                    {{ activatedUserCount }}
                                </td>
                            </tr>
                            <tr>
                                <td class="statistics-label">
                                    {{ 'verification_time'|trans }}
                                </td>
                                <td class="statistics-number">
                                    {{ verificationTime }}
                                </td>
                            </tr>
                            <tr>
                                <td class="statistics-label">
                                    {{ 'login_count'|trans }}
                                </td>
                                <td class="statistics-number">
                                    {{ loginCount }}
                                </td>
                            </tr>
                            <tr>
                                <td class="statistics-label">
                                    {{ 'faq_access_count'|trans }}
                                </td>
                                <td class="statistics-number">
                                    {{ faqAccessCount }}
                                </td>
                            </tr>
                            <tr>
                                <td class="statistics-label">
                                    {{ 'listing_count'|trans }}
                                </td>
                                <td class="statistics-number">
                                    {{ listingCount }}
                                </td>
                            </tr>
                            <tr>
                                <td class="statistics-label">
                                    {{ 'thread_count'|trans }}
                                </td>
                                <td class="statistics-number">
                                    {{ threadCount }}
                                </td>
                            </tr>
                            <tr>
                                <td class="statistics-label">
                                    {{ 'message_count'|trans }}
                                </td>
                                <td class="statistics-number">
                                    {{ messageCount }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $( function() {
            $.datepicker.setDefaults( $.datepicker.regional[ "" ] );
            $( ".datepicker" ).datepicker({
                firstDay: 1,
            });
        } );
    </script>
{% endblock %}

