<div class="row">
    <div class="col-lg-12 sonata-ba-form">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="field-row form-group">
            {{ form_widget(form.reply) }}
        </div>
    </div>
    <div class="hidden">
        {{ form_rest(form) }}
    </div>
</div>


<button class="btn btn-success" type="submit" name="btn_resolve" onclick="confirmEmpty(event)">
    <i class="glyphicon glyphicon-ok"></i>
    {{ 'admin.contact.detail.mark_resolved'|trans({}, 'SonataAdminBundle') }}
</button>
<a href="{{ path('admin_cocorico_contact_contact_list') }}" class="btn btn-default"
   title="{{ 'admin.contact.detail.back'|trans({}, 'SonataAdminBundle') }}">
    <i class="glyphicon glyphicon-chevron-left"></i>
    {{ 'admin.contact.detail.back'|trans({}, 'SonataAdminBundle') }}
</a>
<script>
    function confirmEmpty(ev) {
        const $replyField = $('#admin_contact_reply_reply');
        if ($replyField.val().trim() === '') {
            if (!confirm('{{ 'admin.contact.detail.confirm_empty.text'|trans({}, 'SonataAdminBundle') }}')) {
                ev.preventDefault();
            }

        }
    }
</script>