{% extends "CocoricoSonataAdminBundle::standard_layout.html.twig" %}

{% trans_default_domain 'SonataAdminBundle' %}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block title %}
    {{ 'Dashboard'|trans }}
{% endblock %}

{% block content %}
    <div class="panel panel-body">
        <div class="row">
            {% if is_granted('ROLE_ACTIVATOR') %}
                <div class="col-lg-6">
                    <div class="panel border">
                        <div class="panel-heading bg-gray-light">
                            <h4>{{ 'activator_overview.title'|trans }}</h4>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td>{{ 'activator_overview.new_registrations'|trans }}</td>
                                        <td class="text-bold" style="width: 10%;">
                                            {{ activationCount }}
                                        </td>
                                        <td class="text-right" style="width: 10%;">
                                            <a href="{{ path('verification_list') }}" class="btn btn-sm btn-default edit_link"
                                                title="{{ 'dashboard_action_new_registration'|trans({}, 'SonataAdminBundle') }}">
                                                <i class="glyphicon glyphicon-eye-open"></i>
                                                {{ 'dashboard_action_new_registration'|trans({}, 'SonataAdminBundle') }}
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{ 'activator_overview.new_contacts'|trans }}</td>
                                        <td class="text-bold" style="width: 10%;">
                                            {{ activatorContactCount }}
                                        </td>
                                        <td class="text-right" style="width: 10%;">
                                            <a href="{{ path('admin_cocorico_contact_contact_list') }}" class="btn btn-sm btn-default edit_link"
                                               title="{{ 'dashboard_action_contact'|trans({}, 'SonataAdminBundle') }}">
                                                <i class="glyphicon glyphicon-eye-open"></i>
                                                {{ 'dashboard_action_contact'|trans({}, 'SonataAdminBundle') }}
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            {% endif %}
            {% if is_granted('ROLE_FACILITATOR') %}
                <div class="col-lg-6">
                    <div class="panel border">
                        <div class="panel-heading bg-gray-light">
                            <h4>{{ 'facilitator_overview.title'|trans }}</h4>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td>{{ 'facilitator_overview.new_posts'|trans }}</td>
                                    <td class="text-bold" style="width: 10%;">
                                        {{ validatePostCount }}
                                    </td>
                                    <td class="text-right" style="width: 10%;">
                                        <a href="{{ path('listing-validation_list') }}" class="btn btn-sm btn-default edit_link"
                                           title="{{ 'dashboard_action_new_mo_posts'|trans({}, 'SonataAdminBundle') }}">
                                            <i class="glyphicon glyphicon-eye-open"> </i>
                                            {{ 'dashboard_action_new_mo_posts'|trans({}, 'SonataAdminBundle') }}
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ 'facilitator_overview.new_meesages'|trans }}</td>
                                    <td class="text-bold" style="width: 10%;">
                                        {{ validateMessageCount }}
                                    </td>
                                    <td class="text-right" style="width: 10%;">
                                        <a href="{{ path('admin_cocorico_message_thread_list') }}" class="btn btn-sm btn-default edit_link"
                                           title="{{ 'dashboard_action_new_messages'|trans({}, 'SonataAdminBundle') }}">
                                            <i class="glyphicon glyphicon-eye-open"> </i>
                                            {{ 'dashboard_action_new_messages'|trans({}, 'SonataAdminBundle') }}
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ 'facilitator_overview.new_contacts'|trans }}</td>
                                    <td class="text-bold" style="width: 10%;">
                                        {{ facilitatorContactCount }}
                                    </td>
                                    <td class="text-right" style="width: 10%;">
                                        <a href="{{ path('admin_cocorico_contact_contact_list') }}" class="btn btn-sm btn-default edit_link"
                                           title="{{ 'dashboard_action_contact'|trans({}, 'SonataAdminBundle') }}">
                                            <i class="glyphicon glyphicon-eye-open"></i>
                                            {{ 'dashboard_action_contact'|trans({}, 'SonataAdminBundle') }}
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}