{% trans_default_domain 'cocorico_listing' %}

<!-- post -->
{%- for listingTmp in listings -%}
    {% set listing = listingTmp[0] %}
    {% set listing_translation = listing.translations[app.request.locale] %}
    {% set listing_location = listing.location %}
    {% set listing_user = listing.user %}
    {% set listing_image = listing.images|length ? listing.images[0].name : ListingImageConstants.IMAGE_DEFAULT %}
    {% set user_image = listing_user.images|length ? listing_user.images[0].name : UserImageConstants.IMAGE_DEFAULT %}

    {% set col_class %}col-sm-{{ results_col_size }}{% endset %}
    <article class="listing-post {{ col_class }} col-xs-12" data-lid="{{ listing.id }}">
        <a href="{{ path('cocorico_listing_show', { 'slug': listing_translation.slug }) }}"
           class="listing-box">
            <div class="frame">

                <div class="post-info">
                    <div class="img-holder">
                        <img src="{{ (ListingImageConstants.IMAGE_FOLDER ~  listing_image) | imagine_filter('listing_large') }}"
                             alt="{{ listing_translation.title}}"/>
                    </div>

                    <div class="box">
                        <div class="box-holder">
                            <div class="foot">
                                <div class="area">
                                    <div class="rating-block">
                                    </div>
                                    {% if  listing.certified %}
                                        <span class="certified">
                                            <i class="icon-ok"></i>
                                            {{ 'listing.search.result.certified'|trans }}
                                        </span>
                                    {% endif %}
                                </div>
                                <strong class="title list-comma">
                                    <span>{{ listing.category.translations[app.request.locale].name }}</span>
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="post-content">
                    <div class="alignleft">
                        <img src="{{ (UserImageConstants.IMAGE_FOLDER ~ user_image) | imagine_filter('user_xsmall') }}"
                             alt="{{ listing_user.firstName }}"/>
                    </div>
                    <div class="textbox">

                        <h2 title="{{ listing_translation.title }}">{{ listing_translation.title }}</h2>
                        <p>
                            <i class="glyphicon glyphicon-map-marker"></i>
                            {{ listing_location.city }}|{{ listing_location.country|country_name(app.request.locale)}}
                        </p>
                        {% if listing.validTo is not null %}
                            <p class="text-muted">
                                <i class="glyphicon glyphicon-calendar"></i>
                                {% if listing.validFrom is not null %}
                                    {{ listing.validFrom|date('d.m.Y') }}
                                {% endif %}
                                {% if listing.validTo is not null %}
                                    - {{ listing.validTo|date('d.m.Y') }}
                                {% endif %}
                            </p>
                        {% endif %}

                        {#<!--Debug:#}
                        {#accuracy : {{ listingTmp.accuracy|default(-1) }}<br/>#}
                        {#distance : {{ listingTmp.distance|default(-1) }}<br/>#}
                        {#distance_range : {{ listingTmp.distance_range|default(-1) }}<br/>#}
                        {#platformNotation : {{ listing.platformNotation|default(-1) }}<br/>#}
                        {#reallyAvailable : {{ listingTmp.really_available|default(-1) }}<br/>#}
                        {#-->#}
                    </div>
                </div>
            </div>
        </a>
    </article>
{%- else -%}
    {{ 'listing.search.result.no_results'|trans }}
{%- endfor -%}

<div data-id="nb-result-map-drag"
     style="color: transparent">{{ 'listing.search.result.results'|trans({'%nb_results%': nb_listings}) }}</div>