{% trans_default_domain 'cocorico' %}

    {%- set items = {
    "messages": {
        "link": path('cocorico_dashboard_message'),
        "text": 'nav.dashboard.messages.link'|trans
    },
    "listings": {
        "link": path('cocorico_dashboard_listing'),
        "text": 'nav.dashboard.listings.link'|trans
    },
    "profile": {
        "link": path('cocorico_user_dashboard_profile_edit_about_me') ,
        "text": 'nav.dashboard.profile.link'|trans
    },
    'settings': {
        "link": path('cocorico_dashboard_edit_user_settings'),
        "text": 'nav.dashboard.settings.link'|trans,
    },
    "logout": {
        "link": path('cocorico_user_logout'),
        "text": 'nav.logout.link'|trans
    },
    } -%}

{%- if app.user is not null and is_granted("IS_AUTHENTICATED_FULLY") -%}
    <ul class="dropdown-menu">
        {% for name, menu in items %}
            <li>
                <a id="{{ menu.text }}" href="{{ menu.link }}">
                    {{ menu.text }}
                    {% if name == 'messages' %}
                        <span id="nb-unread-msg"></span>
                    {% endif %}
                </a>
            </li>
        {% endfor %}
        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
            <li>
                <a href="{{ path('cocorico_home', {'_become_who_you_are': '_exit'}) }}">
                    {{ 'exit_impersonation'|trans }}
                </a>
            </li>
        {% endif %}
    </ul>
{%- endif -%}
