{% trans_default_domain 'cocorico' %}

{%- set menuItems = {
    "messages": {
        "link": path('cocorico_dashboard_message'),
        "text": 'nav.dashboard.messages.link'|trans,
        "ariaControls": "messaging",
        "dataText": "Messages"
    },
    "listings": {
        "link": path('cocorico_dashboard_listing'),
        "text": 'nav.dashboard.listings.link'|trans,
        "ariaControls": "properties",
        "dataText": "Posts"
    },
    "profile": {
        "link": path('cocorico_user_dashboard_profile_edit_about_me') ,
        "text": 'nav.dashboard.profile.link'|trans,
        "ariaControls": "profile",
        "dataText": "Profile"
    },
    'settings': {
        "link": path('cocorico_dashboard_edit_user_settings') ,
        "text": 'nav.dashboard.settings.link'|trans,
        "ariaControls": "settings",
        "dataText": "Settings"
    }
} -%}

{%- if is_granted("IS_AUTHENTICATED_FULLY") -%}
    <!-- Nav tabs -->
    <nav class="tabset-holder">
        <a href="#" class="opener">
            <span class="hidden">opener</span>
            <i class="icon-down-open-mini"></i>
        </a>
        <ul class="nav nav-tabs" role="tablist">
            {% for name,menu in menuItems %}
                <li role="presentation" class="{{ nav_dashboard_current == name ? 'active' : '' }}">
                    <a href="{{ menu.link }}" aria-controls="{{ menu.ariaControls }}" role="tab"
                       data-text="{{ menu.dataText }}">
                        {{ menu.text }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{%- endif -%}
