{% trans_default_domain 'cocorico_user' %}

<!-- tabs-aside -->
<aside class="tabs-aside">
    <!-- tabset-holder -->
    <nav class="tabset-holder">
        <a href="#" class="opener">
            <span class="hidden">opener</span>
            <i class="icon-down-open-mini"></i></a>
        <!-- nav-tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="{{ nav_side_dashboard_current == "about_me" ? 'active' : '' }}">
                <a href="{{ path('cocorico_user_dashboard_profile_edit_about_me') }}" aria-controls="about-me"
                   role="tab"
                   data-text="À propos de moi">
                    {{ 'nav.user.about_me.link'|trans }}
                </a>
            </li>
            <li role="presentation" class="{{ nav_side_dashboard_current == "scout_info" ? 'active' : '' }}">
                <a href="{{ path('cocorico_user_dashboard_profile_edit_scout_info') }}" aria-controls="scout info"
                   role="tab" data-text="Scout info">
                    {{ 'nav.user.scout_info.link'|trans }}
                </a>
            </li>
            <li role="presentation" class="{{ nav_side_dashboard_current == "contact" ? 'active' : '' }}">
                <a href="{{ path('cocorico_user_dashboard_profile_edit_contact') }}" aria-controls="contact information"
                   role="tab" data-text="Information de contact">
                    {{ 'nav.user.contact.link'|trans }}
                </a>
            </li>
            <li role="presentation">
                <a target="_blank" href="{{ path('cocorico_user_profile_show', {'id': app.user.id }) }}"
                   aria-controls="profil information"
                   role="tab" data-text="Information de profil">
                    {{ 'nav.user.show.link'|trans }}
                </a>
            </li>
        </ul>
    </nav>
    <div class="profile-expire-nav small text-center">
        {{ 'profile.account_expiration.label'|trans }}
        {{ app.user.expiryDate|date('d.m.Y') }}
        <a href="{{ path('cocorico_user_dashboard_profile_delete') }}"
           class="text-danger" data-toggle="modal"
           data-target="#modal">
            {{ 'profile.delete.link'|trans }}
        </a>
    </div>

</aside>