{% if footers|length %}
    <ul class="list-unstyled pull-left">
        <li class="title">{{ 'footer.about.title'|trans({}, 'cocorico') }}</li>
        {% for footer in footers %}
            <li>
                <a href="{{ footer.link }}">{{ footer.title }}</a>
            </li>
            {% if loop.index is divisible by(5) and not loop.last %}
                {{ '</ul>' }}
                {{ '<ul class="list-unstyled pull-left">' }}
                {{ '<li class="title">&nbsp;</li>' }}
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}